.container {
    border-radius: 4px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.texts{
    display: flex;
    flex-direction: column;
    padding-block: 25px;
    padding-left: 25px;
    gap: 12px;
}

.title {
    h3 {
        color: #fff;
        font-family: Syne;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 43px;
    }
}

.body {
    width: 85%;

    h5 {
        color: #fff;
        font-family: Syne;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }
}

.hr {
    width: 95%;
    background: rgba(255, 255, 255, 0.25);
}
